.diff-cont {
  z-index: 5;
  width: 963px;
  /* height: 677px; */
  position: relative;
  display: flex;
  padding: 15px 15px 15px 15px;
  flex-direction: column;
  border-radius: 20px;
  background-color: #fff;
  transition: 0.3s ease;
  gap: 25px;
  margin-bottom: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
}

.diff-cont:hover {
  box-shadow: 3px 7px 20px rgba(0, 0, 0, 0.25);
}

.column-names {
  position: relative;
  display: flex;
  padding-right: 40px;
  flex-direction: row;
  gap: 95px;
  justify-content: flex-start;
}

.column-names p {
  font-weight: 600;
}

.data-diff {
  width: 432px;
  /* height: 495px; */
  border-radius: 20px;
  background-color: #FBF9FC;
  
  overflow: hidden;
  border: 2px solid #FE4153;
}

.tables {
  display: flex;
  justify-content: space-evenly;
  
}

.table-before {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-after .data-diff {
  border: 2px solid #9747FF;
}

.table-after {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-before {
  width: fit-content;
  height: 40px;
  margin-top: 15px;
  display: flex;
  gap:3px;
  justify-content: space-around;
}

.slider-after {
  width: fit-content;;
  height: 40px;
  margin-top: 15px;
  display: flex;
  gap:3px;
  justify-content: space-around;
}



.number-cont-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 40px;
  border: 2px solid #FE4153;
  color: #FE4153;
  border-radius: 4px;
  
}

.number-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 40px;
  border-radius: 4px;
  transition: 0.3s ease;
  color: #6C757D;
  border: 2px solid #FFF;
  cursor: pointer;
}

.number-cont:hover {
  border: 2px solid #6C757D;
  /* border-radius: 4px; */
}

.slider-after .number-cont-active {
  border: 2px solid #9747FF;
  color: #9747FF;
}

.bottom-options {
  padding-left: 25px;
  display: flex;
  width: fit-content;
  gap: 140px;
  align-items: center;
}

.bottom-options p {
  color: #343A40;
}

.choose-id-sort {
  display: flex;
  width: fit-content;
  gap: 50px;
}

.changes-only-cont {
  display: flex;
  align-items: center;
  gap: 5px;
}

.id-form {
  display: flex;
  gap: 5px;
  align-items: center;
}

.checkbox-sort {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6em;
  height: 1.6em;
  border-radius: 100px;
  margin-right: 0.5em;
  border: 0.15em solid #343A40;
  outline: none;
  cursor: pointer;
}

.checkbox-sort-active {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6em;
  height: 1.6em;
  border-radius: 100px;
  margin-right: 0.5em;
  border: 6px solid #FE4153;
  outline: none;
  cursor: pointer;
}

.changes-checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6em;
  height: 1.6em;
  border-radius: 4px;
  margin-right: 0.5em;
  border: 2px solid #343A40;
  outline: none;
  cursor: pointer;
}


.changes-checkbox-active {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6em;
  height: 1.6em;
  border-radius: 4px;
  margin-right: 0.5em;
  border: 2px solid #FE4153;
  outline: none;
  background-color: #FE4153;
  cursor: pointer;
}
